<!doctype html>
<html lang="en" manifest="dist/manifest.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Feederator</title>
    
    <link rel="shortcut icon" sizes="48x48" href="images/app-icon-mdpi.png">
    <link rel="shortcut icon" sizes="72x72" href="images/app-icon-hdpi.png">
    <link rel="shortcut icon" sizes="96x96" href="images/app-icon-xhdpi.png">
    <link rel="shortcut icon" sizes="144x144" href="images/app-icon-xxhdpi.png">
    
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad-retina.png">

	<link rel="stylesheet" href="/components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css">
	<link rel="stylesheet" href="/components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css">
    <link rel="stylesheet" href="/components/angular-pull-to-refresh/dist/angular-pull-to-refresh.min.css">
    <link rel="stylesheet" href="/components/angular-carousel/dist/angular-carousel.min.css">
    
    <!-- iPhone SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1024x748.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">


    <link rel="stylesheet" type="text/css" href="dist/main.css">

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="Feederator" class="ng-scope has-sidebar-right has-sidebar-left" ng-controller="MainController">
	<!-- Sidebars -->
	
	<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
	  <h1 class="app-name">Feederator</h1>
	
	  <div class="scrollable">
	    <div class="scrollable-content">
	      <div class="list-group" toggle="off" bubble target="mainSidebar">
	        <a class="list-group-item" href="#/inbox">Inbox <i class="fa fa-chevron-right pull-right"></i></a>
	        <a class="list-group-item" href="#/feeds/{{feed.id}}/items" ng-repeat="feed in feeds">{{feed.name}} <i class="fa fa-chevron-right pull-right"></i></a>
	      </div>
	
	    </div>
	  </div>
	</div>
	
	<div class="app" ng-class="{loading: loading}">
	  
	  <!-- Navbars -->
	  <div class="navbar navbar-app navbar-absolute-top">
	
	      <div class="navbar-brand navbar-brand-center" yield-to="title">
	        <span>Feederator</span>
	      </div>
	
	      <div class="btn-group pull-left" ng-hide="isDetail">
	        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
	          <i class="fa fa-bars"></i> Menu
	        </div>
	      </div>
	      <div class="btn-group pull-left" ng-hide="!isDetail">
	      	<div class="btn btn-navbar" ng-click="gotoInbox()">
				<i class="fa fa-chevron-left"></i> Back
			 </div>
	      </div>
	
	      <div class="btn-group pull-right" yield-to="navbarAction">
	        <div class="btn btn-navbar" ng-click="newFeed()">
	          <i class="fa fa-plus"></i> New
	        </div>
	      </div>
	  </div>
	
	  <div class="navbar navbar-app navbar-absolute-bottom">
	    <div class="btn-group justified">
	      <div ng-click="refreshItems()" class="btn btn-navbar btn-icon-only"><i class="fa fa-refresh fa-navbar"></i></div>
	      <div ng-click="editFeed()" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></div>
	    </div>
	  </div>
	
	  <div class="app-body">
	      <ng-view class="app-content"></ng-view>
	</div>
	</div>


    <script src="dist/lib.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>
