body {
	font-weight: normal;
}

.list-item-title {
	color: black;
}
.article-body {
	color: black;
}
@media (min-width: 992px) {
.navbar-brand-center {
 text-align: center;
}
}

.item-detail img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}