body {
	font-weight: normal;
	font-size: 16px;
}

.list-item-title {
	color: black;
	margin-top: -4px;
}
.article-body {
	color: black;
}
@media (min-width: 992px) {
.navbar-brand-center {
 text-align: center;
}
}
 
.item-detail img {
  display: block;
  height: auto;
  max-width: 100%;
}
.rn-carousel-container {
	height: auto;
}
.carousel, .carousel-inner, .carousel-inner>.item {
	text-align: left;
}
.carousel-inner>.left-active {

}

.carousel-inner>.right-active {

}

.shadow {
	-moz-box-shadow: 3px 3px 4px 2px #AAA;
	-webkit-box-shadow: 3px 3px 4px 2px #AAA;
	box-shadow: 3px 3px 4px 2px #AAA;
}
.loading-spinner {
	position: absolute;
	font-size: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}
.app-content-loading {
	text-align: center;
	height: 100%;
	width: 100%;
	background: #fff;
	position: relative;
}
.has-navbar-bottom .app-body {
	padding-bottom: 30px;
}
