<div ng-show="loading" class="app-content-loading ng-hide">
	<i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>

<div class="scrollable">
	<div class="scrollable-content" id="scrollContainer">
		<div class="list-group" pull-to-refresh="refreshItems()">
			<a id="{{item.id}}" class="list-group-item media" ng-repeat="item in items" ng-click="showItem(item.id)">
				<i class="fa fa-chevron-right pull-right"></i>
				<div class="pull-left" ng-show="item.teaserImageSource">
					<img class="feature-icon text-primary img-circle shadow" src="/user/teaserImage?url={{item.teaserImageSource}}"/>
				</div>
				<div class="media-body">
					<div class="list-item-title">{{item.title}}</div>
					<small>{{item.feedName}} || {{item.importedDate | date:'medium'}}</small>
				</div>
			</a>
		</div>
	</div>
</div>
<div overlay="myOverlay">
  <h4 class="overlay-title">My Overlay</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, ex eaque possimus ipsa ab quasi quos corporis consequatur laudantium? Ab assumenda delectus quo velit voluptates doloribus. Earum odit facilis qui.
  </p>
  <p toggle="off" bubble target="myOverlay">
    <span class="btn btn-primary">Ok</span>
    <span class="btn btn-default">Cancel</span>
  </p>  
</div>

