
<div id="itemCarousel" class="carousel">
      <div class="carousel-inner">
        <div item-content carousel-item ng-repeat="item in items" class="item" id="{{item.id}}" ng-class="{active: item.id == itemId}">
			<div class="scrollable">
				<div class="scrollable-content">
					<div class="container-fluid section section-break item-detail">
						<small>{{$index + 1}}/{{items.length}} {{item.feedName}} || {{item.importedDate | date:'medium'}} </small>
						<h3><strong><a href="{{item.link}}" target="_blank">{{item.title}}</a></strong></h3>
						<div class="article-body" ng-bind-html="getContent(item)"></div>
            <div><b>Language:</b></div>
            <div ng-bind-html="item.article.language"></div>
            <BR/>
            <div><b>Title:</b></div>
            <div ng-bind-html="item.article.title"></div>
            <BR/>
            <div><b>Author:</b></div>
            <div ng-bind-html="author"></div>
            <BR/>
            <div><b>Article Author:</b></div>
            <div ng-bind-html="item.article.author"></div>
            <BR/>
            <div><b>Excerpt:</b></div>
            <div ng-bind-html="item.article.excerpt"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

